our-resort {
}

.container.our-resort {
}

.card-img-top.w-100.d-block {
}

.col-6.offset-1 {
  text-align:left;
}

p {
  text-align:left;
}

.col-6.offset-1.our-resort {
  text-align:left;
}

.col {
}

.card {
  margin-top:10px;
}

.col-7.our-resort {
  margin-left:100px;
}

.gallery {
  background-color:#eee;
}

#logo {
  margin-right:10px;
  max-height:42px;
}

